
         <div class="row">  
                   <aside class="col-md-3">
               
            </aside>   
            <section class="main col-md-9">
               <article>
                  <div class="row">
                     <div class="col-12">
                        <h2>Add Category</h2>
                        <br />
                       <form method="POST" action="/categories/add" enctype="multipart/form-data">                           
                           <br />
                           <fieldset>
                              <legend>Category</legend>
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="form-group">                                       
                                       <input class="form-control" id="category" name="category" type="text" />

                                    </div>
                                 </div>
                              </div>                  
                                
                           </fieldset>
                           <hr />
                           <div style="text-align: right;">
                           <input type="submit" class="btn btn-primary pull-right" value="Add Category" /><br /><br /><br />
                           </div>
                        </form>
                     </div>
                  </div>
         </div>
         </article>
         </section>
      </div>
     