@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
        h2 {
            font-family: 'Playfair Display', serif;
            color: rgb(12, 6, 16);
        }
        .navbar-nav {
            display: flex;
            justify-content: flex-end;
          }
          
          .nav-right {
            margin-left: auto;
          }
          
          
          
